@import "~bootstrap/scss/bootstrap.scss";

input{
    margin-bottom: 4%;
}

label{
    margin-right: 3%;
}

.btn{
    width: 100%;
}

.form-products{
    width: 70%;
    margin: auto;
    margin-top: 5%;
}

.list-products{
    margin-top: 5%;
}

.product{
    width: 40%;
    margin-right: 5%;
}

.btn-danger, .btn-secondary{
    width: 50%;
}

